---
layout: default
base: ../../
title: Arduino
---


<div class="row clearfix text-image-row">
    <div class="col-s-8 offset-s-2">
        <h1>Arduino</h1>

        {% include text-image-image.html path='../../img/projects/arduino/playfield' title='Dynamo Striker table' %}

        <p>
            I got a coin operated Dynamo Striker 1970's foosball table for my birthday. It had this beautiful
            LCD display for the game score, but unfortunately there was something broken in the
            motherboard and the display didn't work.
        </p>
    </div>
</div>
<div class="row clearfix text-image-row">
    <div class="col-s-8 offset-s-2">

        {% include text-image-image.html path='../../img/projects/arduino/lcd' title='LCD connected to Arduino' align='right' %}

        <p>
            I already had an <a href="https://arduino.cc/">Arduino</a> and was looking for a project so I started reverse engineering
            the two 32-bit shift registers that were powering the LCDs and the Infrared sensors for goal detection. It kind of was a hassle to figure out which bit powered which LCD segment and creating a nice table of bits-to-digit but when it worked that was all in the past.
        </p>

    </div>
</div>
<div class="row text-image-row">
    <div class="col-s-8 offset-s-2">

        {% include text-image-image.html path='../../img/projects/arduino/lcd-case' title="LCD in it's casing" %}

        <p>
            I didn't know how the original setup used to be except for the clear use of the big digits. In the end I decided to use the 2 smaller left digits for a Game for red / Game for blue score and the right digits for a Best of 3 (b3) or Best of 5 (b5) match, for games until 5 points.
            <br />
            The best part of Arduino is that it doesn't matter. Now that I control the lights I can add buttons
            to enable any type of foosball game.
        </p>

    </div>
</div>

<div class="row">
    <div class="col-s-8 offset-s-2">
        <h2>Code</h2>

        <p>
            The code is available on <a href="https://github.com/frenkie/foosduino">Github</a>.
        </p>

    </div>
</div>