%base-font {
    font-family: $base-font;
    color: rgba( 0, 0, 0, 0.8 );
}

%title-font {
    font-family: $title-font;
    font-weight: bold;
    letter-spacing: -0.05em;
}

@mixin base-font () {
    @extend %base-font;
}

@mixin title-font () {
    @extend %title-font;
}

@mixin font-def ( $multiplier ) {
    font-size: $bu * $multiplier;
}