/////////////////////////
// Responsive CSS config:

$base-text-color: #333;
$grid-container-width: 91%;

/////////////////////////
// frankbosma.nl CSS config:

$title-font: 'Source Sans Pro', sans-serif;
$base-font: 'Lora', Times, serif;


$fb-main-color: #1f92cc;
$fb-main-color-dark: #156289;

$fb-text-support-color: #7d8287;
$fb-text-soft-color: #bbb;
$fb-dark-support-color: #444;

$bu: 8px; // base unit