---
layout: default
base: ../
title: T-shirts
---

<div class="row">
    <div class="col-s-8 offset-s-2">
        <h1>T-shirts</h1>

        <p>In 2005 I started <a href="https://www.stixeljockeys.com">Stixeljockeys</a> with Arjen Rienks. Stixeljockeys provides you with sticky oneliners and graphics that look good on cotton but most of all on you!</p>
    </div>
</div>

<div class="row">
    <div class="col-s-8 offset-s-2">

        {% include grid-image.html path='../img/tshirts/locohost' title='Locohost shirt' href='https://stixeljockeys.com/index.php?fId=181&shirtId=262' %}

        {% include grid-image.html path='../img/tshirts/gorbi' title='Gorbatsjov shirt' href='https://stixeljockeys.com/index.php?fId=181&shirtId=344' %}

        {% include grid-image.html path='../img/tshirts/gijntje' title='Gijntje shirt (unavailable due to copyright)' %}

        {% include grid-image.html path='../img/tshirts/frank-foos' title='Club Foos Frank shirt (personal, not for sale)' %}
    </div>
</div>


<div class="row">
    <div class="col-s-8 offset-s-2">
        <p>Stixeljockeys has been silent for a little while but I still design for my <a href="{{page.base}}foosball">foosball club</a>, for fun or an occasional gift.</p>
    </div>
</div>