.icon--tee:before {
    content: "\e610";
}
.icon--table-soccer:before {
    content: "\e611";
}
.icon--pencil:before {
    content: "\e600";
}
.icon--chat:before {
    content: "\e601";
}
.icon--search:before {
    content: "\e602";
}
.icon--music:before {
    content: "\e603";
}
.icon--brush:before {
    content: "\e604";
}
.icon--code:before {
    content: "\e605";
}
.icon--cross:before {
    content: "\e606";
}
.icon--list:before {
    content: "\e607";
}
.icon--arrow-left:before {
    content: "\e608";
}
.icon--arrow-right:before {
    content: "\e609";
}
.icon--github:before {
    content: "\e60a";
}
.icon--twitter:before {
    content: "\e60b";
}
.icon--facebook:before {
    content: "\e60c";
}
.icon--linkedin:before {
    content: "\e60d";
}
.icon--lastfm:before {
    content: "\e60e";
}
.icon--soundcloud:before {
    content: "\e60f";
}
.icon--arrow-continue:before {
    content: "\e612";
}