---
layout: default
base: ../
title: Illustrations
---

<div class="row">
    <div class="col-s-8 offset-s-2">

        <h1>Illustrations</h1>

        <p></p>

        <div class="row">


            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/skateboard' title='Jerry Hsu' %}

                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">Jerry Hsu</h1>
                    <p class="gallery-image-description">
                        I once had a skateboard that broke in half after only 2 weeks. I decided to then at least use it as a canvas. So I painted a portret of my <a href="https://www.youtube.com/watch?v=CcylfSZ_vSs">favorite skater</a>.
                    </p>
                </div>
            </article>


            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/angels' title="George's Angels" %}
                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">George's Angels</h1>
                    <p class="gallery-image-description">
                        An <a href="http://en.wikipedia.org/wiki/Alter-globalization">alter-globalization</a> poster published in Dutch magazine Onze Wereld by development organisation <a href="http://www.oxfamnovib.nl/en-home.html?language=engels">Oxfam Novib</a>. Based on an idea by writer Dennis Lahey, also known as the incredible <a href="http://dclama.nl/">DC Lama</a>.
                    </p>
                </div>
            </article>

            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/hijs' title='hijs' %}

                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">hijs</h1>
                    <p class="gallery-image-description">
                        My comic character Hijs in his first comic back in 1998.
                    </p>
                </div>
            </article>

            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/nas' title='Nas' %}

                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">Nas</h1>
                    <p class="gallery-image-description">
                        Just a pencil illustration.
                    </p>
                </div>
            </article>


            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/spoove' title='Spoove' %}

                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">Spoove</h1>
                    <p class="gallery-image-description">
                        Always wanted to have a ninja like 3D character to make movies with. No movies yet, but I settle for the stills. Spoove is made with 3ds Max.
                    </p>
                </div>
            </article>

            <article class="gallery-image-container col-xs-6 col-s-4">

                {% include gallery-image.html path='../img/illustrations/ape' title='GameQ Ape' %}

                <div class="gallery-image-meta">
                    <h1 class="gallery-image-title h5">GameQ Ape</h1>
                    <p class="gallery-image-description">
                        A final project I did at my university was a multi user 3D Game and server for which I created this ape. You can see him running on <a href="https://www.youtube.com/watch?v=v-eo4-OdHt0">Youtube</a>.
                    </p>
                </div>
            </article>



            <!--

                hijs

                angels

                skateboard

                ape

                nas

                spoove

            -->
        </div>

    </div>
</div>
