.gallery-image-container {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    float: none;
    margin-bottom: 1.5em;
}

@include bp-max(xs) {
    .gallery-image-container:nth-child(2n+1) {
        margin-left: 0;
    }
}

@include bp-min(s) {
    .gallery-image-container {
        width: 31%;
    }

    .gallery-image-container:nth-child(3n+1) {
        margin-left: 0;
    }
}

.gallery-image,
.gallery-image-link {
    width: 100%;
}

.gallery-image-title {
    margin-bottom: 0;
}

.gallery-image-description {
    margin-top: 0;
}