.main-header {
    position: relative;
    background-color: $fb-main-color;
    height: 40px;
}

@include bp-min(s) {
    .main-header {
        height: 140px;
        margin-bottom: 70px;
    }

    .home-main-header {
       // height: 270px;
    }
}

@include bp-min(m) {
   .home-main-header {
      // height: 320px;
   }
}

@include bp-min(l) {
   .home-main-header {
      // height: 340px;
   }
}

/***********************/

.main-header-background {

}

@include bp-min(s) {

/*
    .home-main-header .main-header-background {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: url('../img/backgrounds/duke-s.jpg') center center no-repeat;
        background-size: cover;
    }

    .home-main-header .main-header-background:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: ' ';
        display: block;

        background-color: rgba(0, 0, 0, 0.3);
    }
    */
}

/***********************/

.main-header-profile {

}

@include bp-min(s) {
    .main-header-profile {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -70px;
        left: 0;

        text-align: center;
    }
}

/***********************/

.main-header-profile-home-link {
    display: inline-block;
    text-decoration: none;
}

@include bp-max(xs) {
    .main-header-profile-home-link {
        margin-left: 70px;
    }
}

/***********************/

.main-header-profile-image {
    display: none;
}

@include bp-min(s) {
    .main-header-profile-image {
        display: inline-block;

        width: 140px;
        height: 140px;

        background: url('../img/frenkie-portret-s.jpg');

        border-radius: 72px;
        border: 2px solid white;
        box-shadow: 2px 1px 4px rgba( 0, 0, 0, 0.5 );
    }
}

/***********************/

.main-header-profile-tagline {
    margin: 0;
}

@include bp-max(xs) {
    .main-header-profile-tagline {
        color: white;
        line-height: 40px;
    }
}

@include bp-min(s) {
    .main-header-profile-tagline {
        color: $base-text-color;
    }
}

/***********************/

.main-header-show-navigation {
    display: none;
}

@include bp-max(xs) {
    .js .main-header-show-navigation {
        position: absolute;
        top: 7px;
        left: 10px;
        display: block;

        width: 1em;

        font-size: 27px;
        color: white;
        cursor: pointer;
    }
}