---
layout: default
base: ../
title: Developer
---


<div class="row">
    <div class="col-s-8 offset-s-2">
        <h1>Developer</h1>
        <p>
            I love developing websites, web apps, backends, but mostly frontends and
            always responsible and responsively. Love connecting offline with online
            and highly attracted by drones, Rifts, Cardboards, HoloLenses, Kinects, Arduino's or
            just anything with an API.
        </p>
        <p>
            I currently work as a frontend developer at Dutch public broadcaster
            <a href="http://www.vpro.nl">VPRO</a> and you can check out my open source
            projects on <a href="https://github.com/frenkie">Github</a>.
        </p>
        <p>
            You can find my <a href="#resume">resum&eacute;</a> and <a href="#projects">projects</a> below.
        </p>

        <h2 id="resume">Resum&eacute;</h2>
        <p>
            I have been developing websites since 2001 and have seen a lot of languages,
            libraries, browsers, devices, design trends and management methodologies
            appear, evolve or disappear.<br />
            And that's the beauty of it. Keeping up with this ever evolving landscape
            means there's never a dull moment.
        </p>
        <p>I've done most projects with HTML(5), CSS, SASS, vanilla JavaScript, jQuery, RequireJS, AngularJS,
            Backbone, Gulp, Grunt, Node.js, ASP, PHP, MySQL, CouchDB, Wordpress and Java based Magnolia CMS.<br />

            On Mac and Windows, with IntelliJ, Webstorm and Sublime IDE's. Mostly SVN, but using Git on side projects.<br />

            Have worked in Scrum projects since 2010 and recently been doing Kanban.
        </p>
        <p>
            I've done side projects with Arduino, Python and mobile web app development with Apache Cordova
            and would love to get my hands dirty with native app development, but for now there's just
            some basic Java and Objective-C knowledge.
        </p>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-s-8 offset-s-2">
            <h1 class="h2" id="projects">Projects</h1>
            <p>
                Below you'll find links to a selection of projects I've done.
            </p>
        </div>
    </div>
    <div class="row">
        <article class="col-s-4 offset-s-2">
            <a class="thumb-teaser thumb-teaser-link clearfix" href="vpro">

                <h2 class="thumb-teaser-title h3">VPRO</h2>

                {% include thumb-image.html path='../../img/vpro-thumb' title='VPRO logo' %}

                <p class="thumb-teaser-description">
                    Since 2007 I've been developing all kinds of websites for Dutch public
                    broadcaster VPRO. Their current website is a mobile first responsive
                    website.
                </p>
            </a>
        </article>

        <article class="col-s-4">
            <a class="thumb-teaser thumb-teaser-link clearfix" href="frankbosma">

                <h2 class="thumb-teaser-title h3">frankbosma.nl</h2>

                {% include thumb-image.html path='../../img/frankbosma-thumb' title='frankbosma.nl logo' %}

                <p class="thumb-teaser-description">
                    The code and frontend tooling setup of this current version of
                    frankbosma.nl is made available on Github. Made with Jekyll, Gulp,
                    SASS, Bower and NPM.
                </p>
            </a>
        </article>
    </div>
    <div class="row">
        <article class="col-s-4 offset-s-2">
            <a class="thumb-teaser thumb-teaser-link clearfix" href="figurerunning">

                <h2 class="thumb-teaser-title h3">FigureRunning</h2>

                {% include thumb-image.html path='../../img/figurerunning-thumb' title='FigureRunning logo' %}

                <p class="thumb-teaser-description">I've created the online gallery for FigureRunning, accompanying
                    it's iPhone and Android app where you draw art by running with GPS.
                </p>
            </a>
        </article>

        <article class="col-s-4">
            <a class="thumb-teaser thumb-teaser-link clearfix" href="waverider">

                <h2 class="thumb-teaser-title h3">Waverider</h2>

                {% include thumb-image.html path='../../img/waverider-thumb' ext='jpg' title="Waverider screenshot" %}

                <p class="thumb-teaser-description">
                    Waverider is a 3D browser game made with ThreeJS during a Music Hack Day.
                    Your goal is to ride the music waveform of a song of your
                    choosing, until the end of it, without falling behind.
                </p>
            </a>
        </article>
    </div>
    <div class="row">
        <article class="col-s-4 offset-s-2">
            <a class="thumb-teaser thumb-teaser-link clearfix" href="arduino">

                <h2 class="thumb-teaser-title h3">Arduino</h2>

                {% include thumb-image.html path='../../img/arduino-tablesoccer-thumb' ext='jpg' title="Arduino connected to 70's table soccer electronics" %}

                <p class="thumb-teaser-description">
                    I have an old 70's table soccer table with LCD score electronics
                    based on infrared sensors.
                    The motherboard was broken so I hooked up the LCD board and sensors to
                    an Arduino instead.
                </p>
            </a>
        </article>        
    </div>
</section>